<div class="modal-dialog modal-lg">
    <div class="modal-content">
                    <!--begin::Modal header-->
                    <div class="modal-header">
                        <!--begin::Modal title-->
                        <h2>Crear Proveedores</h2>
                        <!--end::Modal title-->
                        <!--begin::Close-->
                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                    </div> 
                    <!--end::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body py-lg-10 px-lg-10">
                        <!--begin::Stepper-->
                        <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">
                            <!--begin::Aside-->
                            <div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">
                                <!--begin::Nav-->
                                <div class="stepper-nav ps-lg-10">
                                    <!--begin::Step 1-->
                                    <div class="stepper-item current" data-kt-stepper-element="nav">
                                        <!--begin::Line-->
                                        <div class="stepper-line w-40px"></div>
        {%if obj %}
        <form method='POST' role="form" class="form-inline" action="{% url 'cmp:proveedor_edit' obj.pk %}"> 
         {%else %} 
        <form method="POST" role="form" class="form-inline" action="{% url 'cmp:proveedor_new' %}">
           {%endif%} 
            {% csrf_token %}
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                {%if obj%}Editar {% else %}Nuevo {% endif %}Prodveedor
            </div>
            <div class="dropdown-diviser">
            </div>
            <div class="row">
            {{form.as_p}}
            </div>
            <div class="dropdown-diviser">
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger" type="submit">
                        <span class="fa fa-save">
                        </span>Guardar</button>
                        {% comment %} <a href="{% url 'inv:producto_list' %}" class="btn btn-success">
                            <span class="fa fa-undo">Cancelar</span>
                        </a> {% endcomment %}
                        <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                            Cancelar
                        </button> 
                </div>
            </div>
    </form>


</div>
</div>
</div>
</div>
</div>
</div>

</div>