{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Fecha rescate</td>
            <td>Adoptantes</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% comment %} {% if mascotas%}
        {% for mascota in mascotas %} {% endcomment %}
        {% if object_list%}
        {% for mascota in object_list %}
        <tr>
            <td>{{ mascota.id}}</td>
            <td>{{ mascota.nombre}}</td>
            <td>{{ mascota.sexo}}</td>
            <td>{{ mascota.edad_aproximada}}</td>
            <td>{{ mascota.fecha_rescate}}</td>
            <td>{{ mascota.persona.nombre }} {{ mascota.persona.apellidos}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'mascota_editar' mascota.id %}">
                Editar</a>
                <a class="btn btn-danger" href="{% url 'mascota_eliminar' mascota.id %}">
                Eliminar</a>
            </td>
           
        {% endfor %}
        {% else %}
        <h1>No hay registros de mascotas</h1>
        {% endif %}
        </tr>
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primero </a>
            <a href="?page={{ page_obj.previous_page_number}}">Previo</a>
            {% endif %}
            <span class="current">
                Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
            </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages}}">Último &raquo; </a>
        {% endif %}
    </span>
</div>
<br>
<a href=".html" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Create</a>

{% endblock %}